<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">

        <activity android:name=".LoginActivity"
            android:exported="false"/>

        <activity android:name=".NewPostActivity"
            android:exported="false"/>

        <activity android:name=".OwnPostActivity"
            android:exported="false"/>

        <activity android:name=".PostDetailActivity"
            android:exported="false"/>

        <activity android:name=".FriendsActivity"
            android:exported="false"/>

        <activity android:name=".EditProfileActivity"
            android:exported="false"/>

        <activity android:name=".BlockedUsersActivity"
            android:exported="false"/>

        <activity android:name=".HelpCenterActivity"
            android:exported="false"/>
        <activity android:name=".NotificationsActivity"
            android:exported="false"/>
        <activity android:name=".PrivacyCenterActivity"
            android:exported="false"/>

        <activity android:name=".AppPreferencesActivity"
            android:exported="false"/>

        <activity android:name=".StoryViewerActivity"
            android:exported="false"/>

        <activity android:name=".IdentityUploadActivity"
            android:exported="false"/>

        <activity
            android:name=".LookingForActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".GenderSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ChatActivity" android:exported="false" />
    </application>

</manifest>